*{
/*border: 1px solid black;*/
    margin:0;
    padding:0;
    font-family: Roboto;
}



.wrapper{
    height:100vh;
    display: grid;
    grid-template-columns: 225px 2fr 2fr 2fr ;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
}
 
.greeting{
   display: grid;
   grid-template-columns: 1fr 6fr;
grid-template-rows: 1fr 1fr;  
}

.greeting img{
  height:50px;
  grid-row:1/3;
}

.dash{
    display:flex;
    
    align-items: center;
    gap:10px;
    flex: 1 0 auto;
}

.dash img{
    height:40px;
}
    
.sidebar{
  height:auto;
  overflow:auto;
    grid-column-start:1;
    grid-row: 1/5;
  padding:0;
background-color: rgb(49, 144, 211);
   color:white;
   display: grid;
   justify-content: left;
   grid-template-rows: repeat(autofill,minmax(50px,1f));
}

.header{
    grid-column:2/5;
    display:grid;
    grid-template-columns: 3fr  1fr;
    margin:20px;
    height:100px;

}


.search{
 display:flex;
 flex: 1 0 auto;
   align-items: center;
     img{
        height:20px;
    }
}
.buttons{
    display:flex;
    flex: 1 0 auto;
    align-items: center;
    gap:10px;

   
}
button{
    border-radius: 20px;
    width:60px;
    background-color: rgb(49, 144, 211);
    border:0;
    font-size:Roboto;
    color:white;
    padding:5px;
}
 button:hover {
        outline-color: transparent;
        outline-style:solid;
        box-shadow: 0 0 0 4px #edf1fa;
}

.main-header{
    height:1em;
}
ul, li {
  margin:10px;
  margin-left: 20px;
    list-style: none;
    padding-left:10px;
   
}
.menu-item,.menu-item-heading,.menu-item-communities{
    display:flex;
}    

.menu-item-heading{
font-size: 20px;
margin-bottom:1em;
}
.menu-item-heading > li{
    margin-left:5px;
}
.menu-item-heading > img{
    margin-left:-6px;
}

.menu-item-communities{
margin-bottom:2em;
}

input {
   width:60%;
    border-radius: 20px;
    box-sizing: border-box;
    margin:15px;
    padding: 12px 20px 12px 40px;
    height: 25px;
    background-color: #e7f1f5;
    border:lightgray;
}


.main{
height:auto;
overflow: auto;
    grid-column:2/5;
    grid-row:2/5;
    padding:20px;
    background-color: rgb(224, 237, 245);
display:grid;
grid-template-columns: 3fr 1fr;
grid-template-rows: 1fr 5fr;
    p{
        font-size:12px;
        color:rgb(149, 150, 150);
     
    }
}


.main-header{
    height:1em;
}
.projects{
    margin:30px;
    display:grid;
    gap:30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(100px,1fr));
grid-column:1/2;
}

.projects>div{
display:grid;
grid-template-rows: 1fr 3fr 3fr;
    background-color: white;
    border-radius: 10px;
    padding:20px;
    border-left: 5px solid rgb(255, 213, 0);
}


.icons {
  display:flex;
  margin-top: auto;

 justify-content: end;
 bottom:0px;
  
}

    .main-heading{
        grid-column: 1/5;
    }
    
.right-side{
    display:flex;
    flex-direction: column;
    gap:40px;
}

.announcements{

   
   grid-column: 2;
 

   .announcement-item{
    background-color: white;
    padding:10px; 
     
   }

   h5{
    margin:10px;
   }
}
    .trending{
        flex: 1 0 auto;
        font-size:12px;
        grid-column: 2/3;
      
       
       .account{ 
        padding10px; 
       }

       h5{margin:10px;}
    }

    .trending img{
        height:40px;
        margin:10px;
    }

    .account{
        display:flex;
        align-items: center;
    }

.profile-text{
    display:flex;
    flex-direction: column;

}

.cards{
    background-color: white;
    border-radius: 20px;
    padding:20px;
}
  
